# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ProductQueryApi.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\soysa\OneDrive\Masaüstü\BookMasterMicroservice\ProductQueryApi\.idea\.idea.ProductQueryApi.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
